* {
    margin: 0;
    padding: 0;
}
*:focus {
    outline: -webkit-focus-ring-color none;
}
body {
    font-family: 'Lato', sans-serif;
    color: #222222;
}
main { 
    width: 100%;
}
a {
    text-decoration: none;
}
input, button, .button {
    height: 38px;
    border: 0;
    background-color: #FFF;
}
input[type=text] {
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}
.button {
    height: 36px;
    border: 1px solid $colorPink;
    background-color: $colorPink;
    color: #FFF;
    @include display-flex;
    @include justify-content-center;
    @include align-items-center;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    border-radius: 3.0px;
    cursor: pointer;
    &:hover {
        background-color: #FFF;
        color: $colorPink;
    }
}
input::-moz-placeholder {
    @include placeholder;
}
input::-webkit-input-placeholder {
    @include placeholder;
}
input:-ms-input-placeholder {
    @include placeholder;
}
input::-ms-input-placeholder {
    @include placeholder;
}
input::placeholder {
    @include placeholder;
}
.pink {
    color: $colorPink;    
}
.red {
    color: $colorRed;
}
.light_grey {
    color: #b9b9b9;
}
.bold800 {
    font-weight: 800;
}
.ui-visual-focus {
    box-shadow: none !important;
}

/* CHECKBOXES */
input[type="checkbox"] { 
    display: none;
    & + label {
        display: block;
        position: relative;
        padding-left: 22px;    
        color: #6f6e6e;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        &:last-child { 
            margin-bottom: 0; 
        }
        &:before {
            content: '';
            display: block;
            width: 13px;
            height: 13px;
            border: 1px solid #dadad2;
            position: absolute;
            left: 0;
            top: 1px;
            -webkit-transition: all .12s, border-color .08s;
            transition: all .12s, border-color .08s;
        }
    }
    &:checked + label:before {
        width: 10px;
        top: -3px;
        left: 5px;
        border-radius: 0;
        border-color: #838383;
        opacity: 1;
        border-top-color: transparent;
        border-left-color: transparent;
        -webkit-transform: rotate(41deg);
        transform: rotate(41deg);
    }
}
/* CHECKBOXES END */

/* RADIOS */
input[type="radio"] { 
    display: none;
    & + label {
        display: block;
        position: relative;
        padding-left: 28px;
        color: #6f6e6e;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        &:last-child { 
            margin-bottom: 0; 
        }
        &:before {
            content: '';
            display: block;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: #ffffff;
            border: 2.0px solid #ffffff;
            box-shadow: 0 0 0 2px #555555;
            position: absolute;
            left: 0;
            top: -1px;
        }
    }
    &:checked + label:before {  
        background-color: #555555;
        opacity: 1;
    }
}
/* RADIOS END */

/* MAIN PAGE */
body>header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.header__content {
    height: 100px;
    @include display-flex; 
    @include justify-content-between;
    @include align-items-center;
}
.header__left,
.header__right,
.header__form,
.logo {
    @include display-flex;    
    @include align-items-center;
    
}
.logo {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    margin-right: 37px;
    &__img {
        margin-right: 13px;
    }
    &:hover>img {
        filter: hue-rotate(360deg);
        transition: filter linear 0.7s;
    }
}
.header__form {
    border: 1.0px solid #e6e6e6;    
    border-radius: 3.0px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.025em;
    position: relative;
}
.browse {
    @include display-flex;
    position: relative;
    @include justify-content-center;
    width: 87px;
    height: 38px;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border-right: 1.0px solid #e6e6e6;
    cursor: pointer;
}
.browse span {
    color: #222222; 
    @include display-flex;
    @include align-items-center;   
}
.browse span i.fa {
    color: #838383;
    margin-left: 5px;
}

.dropmenu {
    position: absolute;
    display: none;
    left: 0;
    background-color: #ffffff;
    border: 1.0px solid #e6e6e6;
    border-radius: 5.0px;
    padding: 5px 0 0;
    @include dropmenu-shadow;
    &:before {
        @include dropmenu-triangle;
        left: 64px;
    }
    &__header {
        width: 235px;
        margin: 0 15px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #232323;
        padding-top: 10px;
        padding-bottom: 9px;
        border-bottom: 1px solid #e8e8e8;
    }
    &__linkslist {
        margin: 0 20px 13px 20px;
    }
    &__list {
        list-style-type: none;
        line-height: 24px;
        &>a {
            color: #4f4f4f;
            font-size: 14px;
            font-weight: 400;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__image {
        margin: 0 20px 13px 20px;
        &>img {
            width: 235px;
            height: auto;
        }
    }
}
.browse__dropmenu {    
    top: 38px;
    z-index: 1;
}
.menu__list {
    position: relative;
    &:hover>.nav__dropmenu {
        @include display-flex;
    }
}
.nav__dropmenu {    
    z-index: 2;
    top: 43px;
    &:before {
        left: 14px;
    }
    &_last {
        left: unset;
        right: 0;
        &:before {
            left: unset;
            right: 14px;
        }
    }
}

.header__form input {
    width: 248px;
    padding: 0 16px;
}
.button__search {
    border-left: 1.0px solid #e6e6e6; 
    cursor: pointer;
}
.button__search i.fa {
    color: #a4a4a4;
    padding: 0 11px;
}
.cart {
    height: 38px;
    width: 40px;
    margin-right: 24px;
    @include display-flex;
    @include justify-content-center;
    @include align-items-center;
    position: relative;
    &__dropmenu {
        z-index: 3;
        top: 39px;
        padding: 1px 17px 17px 17px;
    }
    &__dropmenu:before {
        left: 14px;
    }
    &:hover {
        box-shadow: 0 0 2px 1px rgba(0,0,0,0.25);
        & .cart__dropmenu {
            display: block;
        }
        &>img {
            transform: rotate(360deg);
            transition: transform ease 0.6s;
        }
    }
    &__goodin {
        width: 230px;
        border-bottom: 1px solid rgba(237, 237, 237, 0.74);
        @include display-flex;
        @include flex-wrap-wrap;
        @include flex-direction-row;
        padding: 16px 0;
    }
    &__delete {     
        @include display-flex;
        @include align-items-center;
        @include justify-content-end;
        margin-left: auto;
        &_btn {
            font-size: 16px;
            color: #c0c0c0;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    &__total {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
        @include display-flex;
        @include justify-content-between;
        padding: 19px 0;
    }
    &__button {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
        width: 100%;
        height: 50px;
        border: 1.0px solid #eaeaea;
        @include display-flex;
        @include justify-content-center;
        @include align-items-center;
        margin-top: 11px;
        cursor: pointer;
        &:hover {
            color: $colorPink;
            border-color: $colorPink;
        }
    }
}
.overwrite {
    margin-left: 14px;
    &__header {
        font-size: 12px;
        margin-top: 10px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
    }
    &__rate {
        font-size: 12px;
        font-weight: 400;
        margin-top: 10px;
        text-transform: uppercase;
        color: #e4af48;
    }
    &__quant {
        font-size: 10px;
        font-weight: 400;
        margin-top: 13px;
        text-transform: uppercase;
        color: $colorPink;
    }
}
.button__account {
    width: 130px;
}
.menu {
    list-style-type: none;
    @include display-flex;
    @include justify-content-center;
}
.menu__link {
    display: block;
    padding: 20px 20px 17px 20px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
}
.menu__link:hover {
    border-bottom: 3px solid $colorPink;
}